html, body {
    height: 100%;
}

body {
    background-image: url("images/grey-grunge-texture.jpg");
    background-position: center;
}

/*                      Navbar              */
.navbar {
    padding: 0;
}

.navbar-brand {
    margin-left: 40px;
    padding: 30px;
    background-color: cadetblue;
    color: white;
    font-size: 30px;
}

nav ul li a {
    color: gray;
    font-size: 20px;
}



.title {
    color: cadetblue;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom-style: groove;
    border-bottom: 4px solid rgb(209, 209, 209);
}
.content {
    background-color: white;
    padding: 30px;
    margin-top: 30px;
    margin-left: 6%;
}

/*  about  */
.cat-pic {
    margin-right: 10px;
    height: 200px;
    width: 200px;
}
p {
    font-size: 25px;
    line-height: 45px;
}

/*  portfolio  */
.portfolio-pic {
    margin-bottom: 20px;
    flex: 0 0 50%;
    max-width: 50%;
}


/*  contact  */
.btn {
    color: white;
    background-color: cadetblue;
    padding-left: 20px;
    padding-right: 20px;
}



@media only screen and (max-width: 768px) {
    .content{
        margin-left: auto;
        margin-right: auto;
    }
    .cat-pic {
        height: 250px;
        width: 250px;
    }
}

@media only screen and (max-width: 640px) {
    
    /*navbar*/
    .navbar-brand {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }
    nav ul {
        float: none !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    /*about pic*/
    .cat-pic {
        width: 325px;
        height: 325px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        min-width: 100%;
    }
    .float-left {
        float: none !important;
    }
}