html, body{
    height: 100%;
    margin: 0 auto;/*
    background-image: url("https://images.squarespace-cdn.com/content/v1/578b551ab3db2b2471489e10/1514425303217-GY2UR1C7QK5I18ZKBM14/ke17ZwdGBToddI8pDm48kPVrITFFpIRupy97zDrLIYp7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0scl71iiVnMuLeEyTFSXT3qmyMnRwXS3ijD7aYqNwK-F85Yt-Lfbb06S6ComamaVfQ/CQ819+bel+air+beige.jpg?format=2500w");
    background-repeat: no-repeat;
    background-size: cover;
    bac*/
}

body{
    overflow: hidden;
}

.view{
    height: 100%;
    background-image: url("images/grey-grunge-texture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container{
    max-width: 980px;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    margin-left: 40px;
    padding: 30px;
    background-color: cadetblue;
    color: white;
    font-size: 30px;
}

nav ul li a {
    color: gray;
}

.container {
    padding-left: 0;
}

.about-me {
    background-color: white;
    padding: 30px;
    margin-top: 30px;
    line-height: 30px;;
    
}

.about-title {
    color: cadetblue;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom-style: groove;
    border-bottom: 4px solid rgb(209, 209, 209);
}

.float-left {
    margin-right: 10px;
}

.page-footer{
    background-color: grey;
    border-top: 6px solid cadetblue;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: x-small;
}

@media only screen and (max-width: 768px){
    img{
        height: 300px;
        width: 300px;
    }
}