html, body {
    height: 100%;
    margin: 0 auto;
}

body {
    height: 100%;
    background-image: url("images/grey-grunge-texture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container {
    position: relative;
    max-width: 980px;
}

.navbar {
    position: relative;
    padding: 0;
}

.navbar-brand {
    margin-left: 40px;
    padding: 30px;
    background-color: cadetblue;
    color: white;
    font-size: 30px;
}

nav ul li a {
    color: gray;
}

.container {
    padding-left: 15px;
}

.about-me {
    background-color: white;
    padding: 30px;
    margin-left: 40px;
    margin-top: 30px;
    line-height: 30px;
    ;
}

.about-title {
    color: cadetblue;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom-style: groove;
    border-bottom: 4px solid rgb(209, 209, 209);
}

img {
    margin-right: 10px;
    height: 150px;
    width: 150px;
}

.page-footer {
    background-color: grey;
    border-top: 6px solid cadetblue;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: x-small;
}

@media only screen  and (max-width: 768px){
    .about-me {
        margin-left: 0px;
    }
    img {
        height: 250px;
        width: 250px;
    }
}

@media only screen and (max-width: 640px) {
    .float-left {
        float: none;
    }
}